//Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/v4-shims.scss";

// Sweetalert2
@import "~sweetalert2/src/sweetalert2.scss";

// Select2
@import "select2.scss";

//Custom
body {
    background: #eaeaea9e url(../img/bg.png) repeat;
}

img {
    max-width: 100%;
}

.card {
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
}

.swal2-actions button {
    padding: 0.35rem 1rem !important;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__clear {
    background: transparent !important;
    border: 0 !important;
}

@media screen and (max-width: 767px) {
    table {
        border: 0;
    }

    table thead {
        display: none;
    }

    table tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
    }

    table tr:nth-of-type(odd) {
        background: #eee;
    }

    table td {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px dotted #ccc;
    }

    table td:last-child {
        border-bottom: 0;
    }

    table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }

    .table-bg-white > tbody > tr > td {
        width: 100%;
    }
}

.pagination {
    @extend .justify-content-center;
    @extend .my-3;

    .page-item.active .page-link {
        background: $my-theme-primary-color;
        color: $my-theme-terceary-color;
        border-color: $my-theme-primary-color;
    }

    .page-item .page-link {
        color: $my-theme-primary-color;
    }
}

.wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;

    .sidebar {
        width: 260px;
        z-index: 10;
        background: linear-gradient(
            135deg,
            $my-theme-primary-color 0,
            $my-theme-secondary-color 60%
        );
        bottom: 0;
        position: fixed;
        top: 0;
        padding-top: 70px;
        padding-right: 0.1rem;
        -webkit-box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
        box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);

        .logo {
            display: block;
            line-height: 70px;
            width: 260px;
            position: fixed;
            top: 0;
        }

        [data-simplebar] {
            position: relative;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -ms-flex-line-pack: start;
            align-content: flex-start;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
        }

        .content-menu {
            position: relative;
            overflow: hidden scroll;
            padding: 2rem 0;
            height: 100%;

            &::-webkit-scrollbar {
                width: 6px;
                display: block;
            }

            &::-webkit-scrollbar-track {
                -webkit-box-shadow: linear-gradient(
                    135deg,
                    $my-theme-primary-color 0,
                    $my-theme-secondary-color 60%
                );
            }

            &::-webkit-scrollbar-thumb {
                -webkit-box-shadow: linear-gradient(
                    135deg,
                    $my-theme-primary-color 0,
                    $my-theme-secondary-color 60%
                );
                background: $my-theme-quartnary-color;
                border-radius: 3px;
            }

            &:hover {
                &::-webkit-scrollbar {
                    display: block;
                }
            }

            .nav {
                & > li {
                    & > a {
                        color: $my-theme-terceary-color;

                        &[aria-expanded="true"] > span.menu-arrow {
                            -webkit-transform: rotate(90deg);
                            transform: rotate(90deg);
                        }

                        & > span {
                            vertical-align: middle;
                        }

                        & > span.title {
                            margin-left: 0.5rem;
                            font-weight: 600;
                            font-size: 0.9rem;
                        }

                        & > i.fa {
                            color: $my-theme-terceary-color;
                            font-size: 1.1rem;
                        }

                        & > .menu-arrow {
                            -webkit-transition: -webkit-transform 0.15s;
                            transition: -webkit-transform 0.15s;
                            transition: transform 0.15s;
                            transition: transform 0.15s, -webkit-transform 0.15s;
                            position: absolute;
                            right: 0.5rem;
                            font-family: "Font Awesome 5 Free";
                            text-rendering: auto;
                            font-size: 0.5rem;
                            -webkit-transform: translate(0, 0);
                            transform: translate(0, 0);

                            &:before {
                                font-weight: 900;
                                content: "\f054";
                                color: $my-theme-terceary-color;
                            }
                        }
                    }

                    ul {
                        li {
                            list-style: none;
                            margin: 0.3rem 0;

                            a {
                                color: $my-theme-terceary-color;
                                font-size: 0.9rem;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .content-page {
        position: relative;
        margin-left: 260px;
        overflow: hidden;
        padding: 70px 12px 65px;
        min-height: 100vh;

        table th,
        table td {
            color: $my-theme-sixternary-color;
        }

        .navbar-top {
            padding: 0 24px;
            background: $my-theme-terceary-color;
            -webkit-box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
            box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
            min-height: 70px;
            position: fixed;
            left: 260px;
            top: 0;
            right: 0;
            z-index: 1001;

            .btn-menu {
                border: 0;
                background: none;
                padding: 1rem 0;
                font-size: 1.6rem;
                color: $my-theme-secondary-color;
                outline: 0;
            }
        }

        .breadcrumb {
            padding: 0.8rem 1rem;
            background: $my-theme-terceary-color;
            -webkit-box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
            box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);

            & > li,
            & > li > a {
                color: $my-theme-sixternary-color;
                font-size: 0.95rem;
                text-decoration: none;
            }
        }

        .footer {
            width: 100%;
            background: $my-theme-terceary-color;
            border-top: 1px solid rgba(152, 166, 173, 0.2);
            bottom: 0;
            padding: 19px 24px 20px;
            position: absolute;
            right: 0;

            .text {
                color: $my-theme-primary-color;
                font-size: 0.8rem;
                font-weight: 800;

                & > span {
                    color: $my-theme-fiveternary-color;
                }
            }
        }
    }
}

.logo-min {
    display: none;
}

body.sidebarMenuActive {
    .logo-min {
        display: block;
        margin: 0 auto;
    }

    .logo-full {
        display: none;
    }

    .wrapper {
        .logo {
            width: 100px;
            padding: 1rem;
        }

        .sidebar {
            width: 100px;
            padding-right: 0;

            .nav {
                display: block;

                li {
                    text-align: center;
                    margin: 0.5rem 0;

                    a {
                        padding: 0.5rem;

                        i.fa {
                            font-size: 1.3rem;
                        }

                        span.title {
                            display: block;
                            margin: 0;
                            padding: 0;
                            font-size: 0.6rem;
                        }

                        .menu-arrow {
                            display: none;
                        }
                    }

                    ul {
                        padding: 0.5rem;

                        li {
                            margin: 0.5rem 0;

                            a {
                                font-size: 0.8rem;
                                line-height: 0.8rem;
                            }
                        }
                    }
                }
            }
        }

        .content-page {
            margin-left: 100px;

            .navbar-top {
                left: 100px;

                .btn-menu .fa-ellipsis-v:before {
                    content: "\f0c9";
                }
            }
        }
    }
}
/**Css file my-card show.blade*/
.card {
    margin-top: 20px;
    background: #fff;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    float: left;
    margin-left: 20px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
}

.card img {
    max-width: 39px;
    margin-top: 20px !important;
    margin: 0 auto;
}

.card h1 {
    font-size: 20px;
    color: #5e5e5e;
    margin: 0 auto;
    margin-top: 10px;
}

.card h4 {
    font-size: 15px;
    color: #5e5e5e;
    margin: 0 auto;
    margin-top: 10px;
}

.empty h1 {
    color: #3b0172;
    font-size: 18px;
    font-weight: bolder;
}

.empty a {
    color: #ef7806;
    text-decoration: none;
    font-weight: bolder;
}
